# Git and CI/CD
.git
.gitignore
.github

# Documentation & Markdown
*.md
**/*.md

# Local build and automation scripts
build.sh
**/build.sh
LICENSE

# OS & Editor artifacts
.DS_Store
**/.DS_Store
.idea
.vscode
*.swp
